@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-slider{

    width: 100% !important;
    max-width: 1920px !important;
}
 .slick-next{
    position: absolute;
    right: 20px;
}
.slick-next::before{
    font-size: 30px;
}

.slick-prev{
    position: absolute;
    left: 20px;
    z-index: 1;
}
.slick-prev::before{
    font-size: 30px;
    /* display: inline-block; */
    width: 20px;
    height: 20px;

}
.slick-dots{
    position: absolute;
    bottom: 0;
}